{{#partial "content"}}

    <h1> List of our Heroes!</h1>

    {{#if heroes}}
        {{#each heroes }}
            <p><a href="/squads/{{squadId}}/heroes/{{id}}">{{Name}}</a></p>
        {{/each}}
    {{else}}
        <p>No heroes!</p>
    {{/if}}
{{/partial}}

{{> layout.hbs}}