{{#partial "content"}}
    <section class="home-form">

        <div class="container">
            <div class="container">
                <p></p>
            </div>
            <div class="jumbotron">
                <form class="form game-form" action="/squad/new" method="post">
                    <h1>Fill this form to create a Squad</h1>
                    <div class="form-group">
                        <input type="text" placeholder=" Squad name" name="squadName" class="form-control" required>

                    </div>
                    <div class="form-group">
                        <input type="number" placeholder="maximum squad member" name="size"  class="form-control"  required>

                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Cause of the squad" name="cause"  class="form-control"  required>

                    </div>
                    <input type="submit" class="btn btn-primary">
                </form>

            </div>
        </div>

    </section>
{{/partial}}
{{> layout.hbs}}