{{#partial "content"}}
    <section class="home1">


        <div class="success jumbotron">
            {{ item }}
            <h3>Success <br>  <span>{{ item }} </span> <br> Has been created successfully <br>{{sqId}}</h3>

            <a class="btn btn-primary" href="/hero">View Heroes</a>
            <a class="btn btn-primary" href="/squad">View Squads</a>
        </div>
    </section>
{{/partial}}
{{> layout.hbs}}